body {
  font-family: sans-serif;
  background:white;
}

.game {
  max-width: calc(3 * 100px);
  margin: 0 auto;
  text-align: center;
  padding: 20px;
}

.status {
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  color:#black;
}

.board {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
}

.cell {
  width: 100px;
  height: 100px;
  font-size: 36px;
  color:#253342;
  border: 2px solid black;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.cell:hover {
  background-color: grey;
}

.reset-button {
  padding: 5px 10px;
  width:150px;
  height:50px;
  border:none;
  outline:none;
  border-radius:50px;
  background:#1f3540;
  font-size: 12px;
  color:#26ffcb;
  cursor:pointer;
}